html, body, #root {
  margin: 0px;
  box-sizing: border-box;
}

h1 {
  margin: auto;
}
a {
  text-decoration: none;
  color: inherit;
}

.w-md-editor-text-pre > code,
.w-md-editor-text-input {
  font-size: 1rem !important;
  line-height: 1.5rem !important;
}

.w-md-editor-toolbar {

  @media (max-width: 480px) {
    display: none;   
  }
}
.w-md-editor-toolbar li > button {
  width: 3rem;
  height: 3rem;
}

.w-md-editor-toolbar li > button > svg{
  width: 1.2rem;
  height: 1.2rem;
}

.w-md-editor{ 
  padding-bottom: 0px;
}
.w-md-editor-preview {
  position: static
}

.w-md-editor-content {
  display: flex;
  flex-direction: row;
}
/* .w-md-editor-text {
  padding-top: 4rem;
} */